[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
openai = "*"
pinecone-client = "*"
unstructured = {extras = ["local-inference"], version = "*"}
layoutparser = {extras = ["layoutmodels", "tesseract"], version = "*"}
langchain = "==0.0.123"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
